:focus {
  outline: none;
}

.title {
  font-size: 4vw;
  line-height: 4.8vw;
  font-weight: 300;
  color: #26A5FF;
  margin-bottom: 0;
  display: none;
  animation-duration: 0.6s;
}
.subtitle {
  font-size: 4vw;
  line-height: 4.8vw;
  font-weight: 500;
  color: #F7F6F3;
  display: none;
  animation-duration: 0.6s;
}

.scroll-box {
  position: absolute;
  //bottom: -3vw;
  bottom: -3.2vw;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 9.5vw;
  cursor: pointer;
  &:hover {
    span {
      color: #FB3D3D;
    }
    img {
      -webkit-transition: height 0.2s linear;
      -moz-transition: height 0.2s linear;
      -o-transition: height 0.2s linear;
      transition: height 0.2s linear;
      height: 5.022vw;
    }
  }
  span {
    font-size: 1vw;
    line-height: 1.8vw;
    font-style: italic;
    color: #0E1529;
  }
  img {
    width: 0.45vw;
    height: 6.458vw;
  }
}

.fixed-phone-image {
  position: fixed;
  top: 4.3vw;
  right: 24.4%;
}

.phone-image {
  position: absolute;
  right: 24.4%;
}

/* HEADER */
header {
  position: relative;
  height: 96vh;
  background-color: #F7F6F3;
  padding: 3.8% 11% 0 11%;
  .logo-nav-box {
    display: none;
    justify-content: space-between;
    a {
      cursor: pointer;
      .logo {
        width: 4.7vw;
        height: 1.45vw;
      }
    }
    .menu-btn-wrapper {
      position: absolute;
      right: 0;
      top: -3.8vw;
      padding: 4.9% 2.2% 1.7% 2.2%;
      background-color: #0E1529;
      box-shadow: 0 40px 100px 0 rgba(0,0,0,0.2);
      .menu-btn {
        height: 1.6vw;
        width: 2.8vw;
        cursor: pointer;
      }
    }
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    .main-title-box {
      flex-basis: 36%;
      margin-top: 8vw;
      h1 {
        color: #FB3D3D;
        margin: 0;
      }
      h2 {
        color: #0E1529;
        margin: 0;
      }
      p {
        display: none;
        font-size: 1.3vw;
        line-height: 2.2vw;
        font-weight: 300;
        color: #0E1529;
        margin: 1.8vw 0 0 0;
        animation-duration: 0.6s;
      }
    }
    img {
      position: absolute;
      right: 17vw;
      top: 0;
      width: 34vw;
    }
  }

  /* MENU */
  .menu-wrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 14vw;
    height: 100vh;
    padding: 3.8% 11% 0 6%;
    background-color: #0E1529;
    >img {
      align-self: flex-end;
      height: 1.6vw;
      width: 2.8vw;
      cursor: pointer;
    }
    .menu-title {
      font-size: 0.75vw;
      letter-spacing: 0.25vw;
      text-transform: uppercase;
      color: #75E2FF;
    }
    ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
    }
    .case-studies-content {
      margin-top: 6vw;
      ul {
        margin-top: 2vw;
        &:first-of-type {
          li {
            margin-bottom: 1.2vw;
            &:first-of-type {
              a:hover {
                color: #26A5FF;
              }
            }
            &:nth-child(2) {
              a:hover {
                color: #FB3D3D;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
              a:hover {
                color: #F5CC43;
              }
            }
            a {
              font-size: 2.8vw;
              font-weight: 300;
              color: #fff;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }
    .contact-content {
      margin-top: 2.5vw;
      ul {
        margin-top: 2.1vw;
        &:first-of-type {
          li {
            display: inline-flex;
            align-items: center;
            margin-bottom: 1.2vw;
            &:last-of-type {
              margin-bottom: 0;
            }
            img {
              width: 1vw;
            }
            a {
              display: inline-flex;
              align-items: center;
              text-decoration: none;
              cursor: pointer;
            }
            span {
              font-size: 1vw;
              font-weight: 300;
              color: #fff;
              margin-left: 0.7vw;
            }
          }
        }
      }
    }
    .social-list {
      display: flex;
      align-items: center;
      margin-top: 3.6vw;
      a {
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #75E2FF;
        }
      }
      li {
        margin-right: 1.8vw;
        &:nth-child(2),
        &:last-of-type {
          a {
            font-size: 1.3vw;
          }
        }
      }
    }
  }
}

/* OVERVIEW SECTION */
.overview-section {
  background-color: #F7F6F3;
  padding: 10.6% 11% 0 11%;
  position: relative;
  >div {
    display: flex;
    &:first-of-type {
      height: 56.736vw;
    }
    &:nth-child(2) {
      height: 48.515vw;
    }
    &:nth-child(2),
    &:nth-child(4) {
      .dividers-wrapper {
        margin-top: 2.7vw;
        div:first-of-type {
          background-color: #FB3D3D;
        }
      }
      .main-title-box {
        margin-top: 1.2%;
        h1 {
          color: #FB3D3D;
        }
      }
    }
    &:nth-child(3) {
      height: 48.515vw;
      .dividers-wrapper {
        margin-top: 2.7vw;
      }
      .main-title-box {
        margin-top: 1.2%;
      }
    }
    &:nth-child(4) {
      height: 44.515vw;
      #test {
        position: absolute;
        bottom: 2vw;
        right: 24.4%;
      }
    }
    .dividers-wrapper {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-top: 14%;
      div:first-of-type {
        width: 1.02vw;
        height: 1.02vw;
        border-radius: 50%;
        margin-bottom: 2.7vw;
        background-color: #26A5FF;
      }
      .divider {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        opacity: .2;
        background-color: #0E1529;
        margin-bottom: 1.2vw;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .main-title-box {
      display: inline-flex;
      flex-direction: column;
      margin-left: 7%;
      margin-top: 11.5%;
      h1 {
        display: block;
        margin-top: 0;
      }
      h2 {
        display: block;
        margin: 0;
        color: #0E1529;
      }
    }
    img {
      width: 24vw;
      height: 49vw;
    }
  }
}

/* GROUPS, HISTORY, STATS SECTION */
.groups-history-stats-section {
  background-color: #F7F6F3;
  padding: 7% 11% 2% 11%;
  .main-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      display: block;
      color: #FB3D3D;
      margin-top: 0;
    }
    h2 {
      margin: 0;
      display: block;
      color: #0E1529;
    }
  }
  .koffee-screens-wrapper {
    display: flex;
    margin-top: 8%;
    >div {
      display: inline-flex;
      flex-direction: column;
      margin-right: 1.3vw;
      &:first-of-type {
        margin-right: 0.78vw;
      }
      img {
        height: 27vw;
        &:first-of-type {
          margin-bottom: 1.3vw;
        }
      }
    }
    >img:first-of-type {
      height: 38.815vw;
      margin-right: 1.3vw;
    }
    >img:last-of-type {
      height: 59vw;
    }
  }
}

/* PROJECTS SECTION */
.case-studies-section {
  background-color: #F7F6F3;
  padding: 10% 11% 14% 11%;
  height: 74vw;
  >div {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 38vw;
    &.beteaze-wrapper {
      z-index: 1;
      >img:last-of-type {
        display: none;
        position: absolute;
        right: 24.5vw;
        width: 40vw;
        top: -3vw;
      }
    }
    &.arvin-wrapper {
      top: -5.8vw;
      justify-content: flex-start;
      >img:last-of-type {
        position: absolute;
        top: 8vw;
        left: 35.22vw;
        z-index: 3;
        width: 19vw;
        -webkit-transition: top 0.2s linear;
        -moz-transition: top 0.2s linear;
        -o-transition: top 0.2s linear;
        transition: top 0.2s linear;
      }
      >div {
        margin-left: 0;
        margin-right: 15vw;
        >span {
          top: 11vw;
        }
        .next-wrapper {
          top: 11vw;
        }
      }
    }
    &.koffee-wrapper {
      position: relative;
      top: -12.2vw;
      justify-content: flex-end;
      >img:last-of-type {
        display: none;
        position: absolute;
        width: 34vw;
        right: 27vw;
      }
      >div {
        margin-right: 0;
        >span {
          top: 12vw;
        }
        .next-wrapper {
          top: 12vw;
        }
      }
    }
    >img:first-of-type {
      display: none;
      width: 38vw;
      height: 38vw;
    }
    >img:last-of-type {
      display: none;
    }
    >div {
      display: inline-flex;
      flex-direction: column;
      margin-left: 6vw;
      margin-right: 5%;
      >span {
        font-size: 4vw;
        line-height: 4.8vw;
        font-weight: 300;
        color: #0E1529;
        position: relative;
        right: 0.3vw;
        top: 7vw;
      }
      .next-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 10.2vw;
        margin-top: 1.2vw;
        cursor: pointer;
        position: relative;
        top: 7vw;
        text-decoration: none;
        span {
          font-size: 1vw;
          font-weight: 500;
          color: #0E1529;
        }
        img {
          width: 6.4vw;
          margin-left: 1vw;
        }
        &:hover {
          span {
            color: #26A5FF;
          }
          img {
            -webkit-transition: width 0.2s linear;
            -moz-transition: width 0.2s linear;
            -o-transition: width 0.2s linear;
            transition: width 0.2s linear;
            width: 5.6vw;
          }
        }
        &.arvin:hover {
          span {
            color: #FB3D3D;
          }
        }
        &.koffee:hover {
          span {
            color: #F5CC43;
          }
        }
      }
    }
  }
}

/* FOOTER */
.footer {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  padding: 0 11%;
  background-color: #F5CC43;
  height: 100vh;
  z-index: -1;
  .footer-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8% 0 4.6% 0;
    flex-basis: 50%;
    .title-contacts-social-box {
      .footer-title-box {
        h1 {
          display: block;
          color: #0E1529;
        }
        span {
          display: block;
        }
      }
      .contacts-social-lists {
        display: inline-flex;
        flex-direction: column;
        margin-top: 2.6vw;
        ul {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;
        }
        .contacts-list {
          display: flex;
          flex-direction: column;
          &:first-of-type {
            li {
              display: inline-flex;
              align-items: center;
              margin-bottom: 1.2vw;
              &:last-of-type {
                margin-bottom: 0;
              }
              img {
                width: 1vw;
              }
              a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                cursor: pointer;
              }
              span {
                font-size: 1vw;
                font-weight: 300;
                color: #fff;
                margin-left: 0.7vw;
              }
            }
          }
        }
        .social-list {
          display: flex;
          align-items: center;
          margin-top: 3.6vw;
          a {
            color: #fff;
            cursor: pointer;
            &:hover {
              color: #0E1529;
            }
          }
          li {
            margin-right: 1.8vw;
            &:nth-child(2),
            &:last-of-type {
              a {
                font-size: 1.3vw;
              }
            }
          }
        }
      }
    }
    .copyrights-wrapper {
      display: inline-flex;
      span {
        font-size: 1vw;
        font-weight: 300;
        color: #fff;
      }
    }
  }
  .contact-us-wrapper {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-top: 15.4%;
    >div {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      &.name-box,
      &.email-box {
        display: none;
        margin-top: 2.8vw;
      }
      &.email-box {
        .next-wrapper {
          padding: 1.5vw;
          border: 0.1vw solid #fff;
        }
      }
      span {
        font-size: 1.3vw;
        font-weight: 300;
        letter-spacing: 0.05vw;
        color: #0E1529;
      }
      textarea,
      input {
        font-size: 2.2vw;
        line-height: 2.8vw;
        font-weight: 300;
        letter-spacing: 0.1vw;
        color: #fff;
        opacity: .9;
        background: transparent;
        border: none;
        margin-top: 0.8vw;
        &::placeholder {
          color: #fff;
          opacity: .9;
          font-weight: 300;
          letter-spacing: 0.1vw;
        }
      }
      textarea {
        height: 12vw;
        resize: none;
      }
      .next-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 10vw;
        margin-top: 2.8vw;
        cursor: pointer;
        span {
          font-size: 1vw;
          font-weight: 500;
          color: #fff;
        }
        img {
          width: 6.4vw;
          margin-left: 1.4vw;
        }
      }
    }
  }
}
