
	<body class="navigation">
		<main class="main main--navigation">
			<div class="content content--navigation">
				<!-- <div class="back">
					<button>back</button>
				</div> -->
				<div class="hamburger hamburger--navigation js-hover"  (click)="hamburger()">
					<div class="hamburger__line hamburger__line--01">
						<div class="hamburger__line-in hamburger__line-in--01"></div>
					</div>
					<div class="hamburger__line hamburger__line--02">
						<div class="hamburger__line-in hamburger__line-in--02"></div>
					</div>
					<div class="hamburger__line hamburger__line--03">
						<div class="hamburger__line-in hamburger__line-in--03"></div>
					</div>
					<div class="hamburger__line hamburger__line--cross01">
						<div class="hamburger__line-in hamburger__line-in--cross01"></div>
					</div>
					<div class="hamburger__line hamburger__line--cross02">
						<div class="hamburger__line-in hamburger__line-in--cross02"></div>
					</div>
				</div>
				<div class="arrow" id="arrow" (click)="BackArrow()">
					</div>

				<div class="demo-title demo-title--navigation"></div>
				
				
				<div class="global-menu">
					<div class="case-content" id="case-content" [innerHTML]="view | html"></div>

					<div class="global-menu__wrap" id="global-menu__wrap">
							<!-- <span style="font-size: 3em; color: Tomato;">
									<i class="fas fa-angle-left"></i>
							</span> -->
							<a class="global-menu__item global-menu__item--navigation" href="#">
								<span class="menu__item-name capabilities" (click)="showCapabilities()" >CAPABILITIES</span>
							</a>
							<a class="global-menu__item global-menu__item--navigation" href="#">
								<span class="menu__item-name projects"  id="menu__item-name_projects" (click)="showProject()">PROJECTS</span>
							</a>
							<a class="global-menu__item global-menu__item--navigation" href="#">
								<span class="menu__item-name team" (click)="showTeam()">TEAM</span>
							</a>
							<a class="global-menu__item global-menu__item--navigation" href="#">
								<span class="menu__item-name medias" (click)="showMedia()" >MEDIA</span>
							</a>
							<a class="global-menu__item global-menu__item--navigation" href="#">
								<span class="menu__item-name connect" (click)="showConnect()" >CONNECT</span>
							</a>
						</div>
				</div>
				<svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none" id="shape-overlays">
					<path class="shape-overlays__path"></path>
					<path class="shape-overlays__path"></path>
					<path class="shape-overlays__path"></path>
				</svg>
			</div>
		</main>
	</body>

