:focus {
  outline: none;
}


.title {
  font-size: 4.8vw;
  line-height: 4.8vw;
  color: rgb(255, 217, 62);
  margin-bottom: 0;
  display: none;
  animation-duration: 0.6s;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  text-align: right;
}

.subtitle {
  font-size: 4.8vw;
  line-height: 4.8vw;
  color: #F7F6F3;
  display: none;
  animation-duration: 0.6s;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 700;
  float: right;
}
.headertitle {
  font-size: 8.6vw;
  line-height: 9.6vw;
  color: rgb(255, 217, 62);
  margin-bottom: 0;
  padding-right: 19vw;
  padding-top: 58vw;
  display: none;
  animation-duration: 0.6s;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  text-align: right;
}
.headersubtitle {
  font-size: 8.6vw;
  line-height: 8.6vw;
  color: #F7F6F3;
  display: none;
  padding-right: 5vw;
  animation-duration: 0.6s;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 700;
  float: right;
}

.footertitle {
  font-size: 9.6vw;
  line-height: 11.6vw;
  color: #F7F6F3;
  margin-bottom: 0;
  display: none;
  animation-duration: 0.6s;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.footersubtitle {
  font-size: 9.6vw;
  line-height: 11.6vw;
  color: #F7F6F3;
  display: none;
  animation-duration: 0.6s;
  font-family: 'Poppins', sans-serif;
}
.scroll-box {
  position: absolute;
  //bottom: -3vw;
  bottom: 5.5vw;
  padding-left: 4vw;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 9.5vw;
  cursor: pointer;
  &:hover {
    span {
      color: #26A5FF;
    }
    img {
      -webkit-transition: width 0.2s linear;
      -moz-transition: width 0.2s linear;
      -o-transition: width 0.2s linear;
      transition: width 0.2s linear;
      width: 1.85vw;
    }
  }
  span {
    font-family: "Poppins", sans-serif;
    font-size: 3.6vw;
    line-height: 1.8vw;
    color: #F7F6F3;
  }
  img {
    padding-top: 6vw;
    width: 2vw;
  }
}
/* FOOTER */
.footer {
  margin-top: 26vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  right: 0;
  left: 0;
  padding: 0 8%;
  background-color: #0E1529;
  z-index: -1;
  .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8%;
    .footer-title-box {
      h1 {
        display: block;
        color: #F7F6F3;
      }
      span {
        display: block;
        font-weight: 100;
      }
      h2 {
        display: block;
        color: #F7F6F3;
        margin-top: 0;
      }
    }
    .contact-us-wrapper {
      margin-top: 12%;
      margin-bottom: 2%;
      >div {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        height: 30.4vw;
        &.email-box {
          .next-wrapper {
            padding: 4vw;
            border: 0.1vw solid #fff;
          }
        }
        &.email-box {
          .loader-submit-wrapper {
            position: relative;
            height: 17vw;
            #loader {
              position: absolute;
              bottom: -2vw;
              left: 25%;
            }
            .next-wrapper {
              padding: 4vw;
              border: 0.1vw solid #fff;
            }
          }
        }
        span {
          font-size: 4.5vw;
          font-weight: 300;
          letter-spacing: 0.05vw;
          color: #F7F6F3;
        }
        textarea,
        input {
          font-size: 6vw;
          line-height: 6.6vw;
          font-weight: 300;
          letter-spacing: 0.1vw;
          color: #fff;
          opacity: .9;
          background: transparent;
          border: none;
          margin-top: 2.8vw;
          padding: 0;
          &::placeholder {
            color: #fff;
            opacity: .9;
            font-weight: 300;
            letter-spacing: 0.1vw;
          }
        }
        textarea {
          position: relative;
          right: 1vw;
          resize: none;
        }
        input {
          position: relative;
          right: 0.5vw;
        }
        .next-wrapper {
          display: inline-flex;
          align-items: center;
          width: 34vw;
          cursor: pointer;
          margin-top: 5%;
          span {
            font-size: 4.5vw;
            line-height: 5.3vw;
            font-weight: 500;
            color: #fff;
          }
          img {
            width: 16vw;
            margin-left: 2vw;
          }
        }
      }
    }
    .contacts-social-lists {
      display: inline-flex;
      flex-direction: column;
      margin-top: 6vw;
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
      }
      .contacts-list {
        display: flex;
        flex-direction: column;
        li {
          a {
            .fas {
              color: #fff;
              font-size: 2.5vw;
              margin-right: 1vw;
            }
          }
        }
        &:first-of-type {
          li {
            display: inline-flex;
            align-items: center;
            margin-bottom: 4.4vw;
            &:last-of-type {
              margin-bottom: 0;
            }
            img {
              width: 4vw;
            }
            a {
              display: inline-flex;
              align-items: center;
              text-decoration: none;
              cursor: pointer;
            }
            span {
              font-size: 4.5vw;
              font-weight: 300;
              color: #fff;
              margin-left: 3vw;
            }
          }
        }
      }
      .social-list {
        display: flex;
        align-items: center;
        margin-top: 7vw;
        a {
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #0E1529;
          }
        }
        li {
          margin-right: 7vw;
          &:first-of-type {
            a {
              font-size: 4.3vw;
            }
          }
          &:nth-child(2),
          &:last-of-type {
            a {
              font-size: 5.2vw;
            }
          }
        }
      }
    }
  }
  .copyrights-wrapper {
    margin-bottom: 12vw;
    span {
      font-size: 4.5vw;
      font-weight: 300;
      color: #fff;
    }
  }
}

/* HEADER */
header {
  position: relative;
  height: 74vh;
  background-color: #0E1529;
  padding: 10% 8% 0 8%;
  .logo-nav-box {
    display: none;
    justify-content: space-between;
    // position: fixed;
    // top: 4vw;
    // left: 11%;
    // right: 11%;
    transition: top 0.2s ease-in-out;
    z-index: 2;
    a {
      cursor: pointer;
      .logo {
        width: 16vw;
      }
    }
    .menu-btn-wrapper {
      position: absolute;
      right: 0;
      top: -4vw;
      padding: 4.9% 2.2% 1.7% 2.2%;
      background-color: #0E1529;
      box-shadow: 0 40px 100px 0 rgba(0, 0, 0, 0.2);
      .menu-btn {
        height: 6.6vw;
        width: 12.8vw;
        cursor: pointer;
      }
    }
  }
  .main-header {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 8%;
    width: 83vw;
    top: 24%;
    display: none;
  }
  .main-title-box {
    margin-top: 34vw;

  }

  /* MENU */
  .menu-wrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    right: -11vw;
    top: -4vw;
    width: 14vw;
    height: 100vh;
    padding: 4vw 11% 0 6%;
    background-color: #0E1529;
    .fa-times {
      cursor: pointer;
      color: #fff;
      left: 12.5vw;
      bottom: 0.5vw;
      position: relative;
      font-size: 2.7vw;
    }
    > img {
      align-self: flex-end;
      height: 1.6vw;
      width: 2.8vw;
      cursor: pointer;
    }
    .menu-title {
      font-size: 0.75vw;
      letter-spacing: 0.25vw;
      text-transform: uppercase;
      color: #75E2FF;
    }
    ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
    }
    .case-studies-content {
      margin-top: 6vw;
      ul {
        margin-top: 2vw;
        &:first-of-type {
          li {
            margin-bottom: 1.2vw;
            &:first-of-type {
              a:hover {
                color: #26A5FF;
              }
            }
            &:nth-child(2) {
              a:hover {
                color: #FB3D3D;
              }
            }
            &:last-of-type {
              width: 17vw;
              margin-bottom: 0;
              a:hover {
                color: rgb(108, 128, 255);
              }
            }
            a {
              font-size: 2.8vw;
              font-weight: 300;
              color: #fff;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }
    .contact-content {
      margin-top: 2.5vw;
      ul {
        margin-top: 2.1vw;
        li {
          a {
            .fas {
              color: #fff;
            }
          }
          &:hover {
            a {
              span, .fas {
                color: #75E2FF;
              }
            }
          }
        }
        &:first-of-type {
          li {
            display: inline-flex;
            align-items: center;
            margin-bottom: 1.2vw;
            &:last-of-type {
              margin-bottom: 0;
            }
            img {
              width: 1vw;
            }
            a {
              display: inline-flex;
              align-items: center;
              text-decoration: none;
              cursor: pointer;
            }
            span {
              font-size: 1vw;
              font-weight: 300;
              color: #fff;
              margin-left: 0.7vw;
            }
          }
        }
      }
    }
    .social-list {
      display: flex;
      align-items: center;
      margin-top: 3.6vw;
      a {
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #75E2FF;
        }
        .fa-facebook-f {
          font-size: 1.1vw;
          position: relative;
          bottom: 0.07vw;
        }
      }
      li {
        margin-right: 1.8vw;
        &:nth-child(2),
        &:last-of-type {
          a {
            font-size: 1.3vw;
          }
        }
      }
    }
  }
}

.binaryvision {
  text-align: justify;
  font-size: 5.5vw;
  margin-top: 29vw;
  padding-left: 8vw;
  display: none;
  color: #0E1529;
  animation-duration: 1.6s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.content {
  text-align: justify;
  width: 66vw;
  line-height: 6vw;
  margin-top: -2vw;
  font-size: 4.2vw;
  color: #0E1529;
  font-family: 'Poppins',sans-serif;
  display: none;
  animation-duration: 0.6s;
  padding-left: 18vw;
  letter-spacing: 0.1vw;
}
.case-studies-section {
  background-color: rgb(255, 255, 255);
  height: 1141vw;
  position: relative;
  .case-study {
      display: flex;
      justify-content: flex-end;
      position: relative;
      height: 38vw;
  }

  .development-brand {
      font-size: 8.2vw;
      left: -55vw;
      position: absolute;
      transform: rotate(-90deg);
      font-family: sans-serif;
      z-index: 1;
      color: #0E1529;
      animation-name: developmentBrand;
      display: none;
      animation-duration: 1s;
      }
      @keyframes developmentBrand {
        from { top: -14vw;opacity: 0;}
        to {top: -21vw;opacity: 1;}
      }
      .development-brand-span{
          font-size: 5.5vw;
          left: 1vw;
          color: #0E1529;
          // top: 3vw;
          position: absolute;
          transform: rotate(-90deg);
          font-family: 'Poppins', sans-serif;
          z-index: 1;
          display: none;
          animation-duration: 1s;
          animation-name: developmentBrandSpan;
      }
      @keyframes developmentBrandSpan {
        from { top: 18vw;opacity: 0;}
        to {top: 25vw;opacity: 1;}
      }
      .background1 {
          // display: none;
          // animation-duration: 1s;
          opacity: 0;
          background: #ffe500;
          height: 199vw;
          width: 100vw;
          margin-top: 223vw;
          margin-left: 0vw;
          .development-brand-content {
            font-size: 4.2vw;
            line-height: 5.2vw;
            margin-left: 12vw;
            padding-top: 89vw;
            letter-spacing: 0.05em;
              text-align: justify;
              margin-right: 13vw;
              display: none;
              animation-delay: 1.5s;
              animation-duration: 1s;
              font-family: 'Poppins', sans-serif;
          }
      }
      
      .binaryvision-development-pic {
          img {
              // position: fixed;
              position: absolute;
              top: -217vw;
              height: 98vw;
              left: 37vw;
              display: none;
              animation-duration: 1s;
              z-index: 1;
              transform: scale(1.1);
          }

      }
           
      .development-services {
          font-size: 4vw;
          line-height: 6vw;
          position: absolute;
          top:175.5vw;
          left: 11vw;
          color: #0E1529;
          display: none;
          animation-delay: 1.5s;
          animation-duration: 1s;
          h4{
              margin-bottom: 0;
              font-family: 'Monteserrat', sans-serif;
          }
          ul{
              padding-left: 0;
              margin-top: 0;
              font-family: 'Poppins', sans-serif;
          }
      }

      .background2 {
          opacity: 1;
          background: #FF8B45;
          height: 199vw;
          width: 100vw;
          margin-top: 104vw;
          margin-left: auto;
          .ui-brand-content {
              color: #0E1529;
              display: none;
              font-size: 4.2vw;
              line-height: 5.2vw;
              margin-left: 12vw;
              padding-top: 83vw;
              margin-right: 13vw;
              text-align: justify;
              font-family: 'Poppins', sans-serif;
              animation-delay: 1.5s;
              animation-duration: 1s;
          }

      }
      .ui-brand {
          color: #0E1529;
          font-size: 8.2vw;
          top: 75vw;
          right: -36vw;
          position: absolute;
          transform: rotate(90deg);
          font-family: sans-serif; 
          z-index: 1;
          animation-name: uiBrand;
          display: none;
          animation-duration: 1s;
      }
      @keyframes uiBrand {
        from { top: 284vw;opacity: 0;} 
        to {top: 291vw;opacity: 1;}
      }
      .ui-brand-span{
          color: #0E1529;
          font-size: 5.5vw;
          right: -3.5vw;
          top: 81vw;
          position: absolute;
          transform: rotate(90deg);
          font-family: 'Poppins', sans-serif;
          z-index: 1;
          animation-name: uiBrandSpan;
          display: none;
          animation-duration: 1s;
      }
      @keyframes uiBrandSpan {
        from { top: 310vw;opacity: 0;} 
        to {top: 318vw;opacity: 1;}
      }

      .ui-services {
          color: #0E1529;
          font-size: 4vw;
          line-height: 6vw;
          position: absolute;
          top: 462vw;
          left: 41vw;
          display: none;
          animation-delay: 1.5s;
          animation-duration: 1s;
          h4{
              margin-bottom: 0;
              font-family: 'Monteserrat', sans-serif;
              text-align: end;
          }
          ul{
              padding-left: 0;
              margin-top: 0;
              font-family: 'Poppins', sans-serif;
              text-align: end;
          }
      }

      .binaryvision-uiux-pic-box{
          width: 46vw;
          height: 90vw;
          position: absolute;
          top: 262vw;
          display: none;
          // transition: 2s;
          // animation-name: uiFadeUp;
          // @keyframes uiFadeUp {
          //   from { top: 62vw;} 
          //   to {top: 82vw;}
          // }
          img{
              width: 78%;
          }
          .binaryvision-uiux-pic-box-pic1{
              position: relative;
              top: 43vw;
              left: -5vw;
              animation-name: uipic1FadeUp;
              animation-duration: 1s;
          }
          @keyframes uipic1FadeUp {
            from { top: 50vw;} 
            to {top: 43vw;}
          }
          .binaryvision-uiux-pic-box-pic11{
            position: relative;
            top: 50vw;
            left: -5vw;
            animation-name: uipic1FadeDown;
            animation-duration: 1s;
        }
        @keyframes uipic1FadeDown {
          from { top: 43vw;} 
          to {top: 50vw;}
        }
          .binaryvision-uiux-pic-box-pic2{
              position: relative;
              top: -56vw;
              left: 29vw;
              animation-name: uipic2FadeUp;
              animation-duration: 1s;
          }
          @keyframes uipic2FadeUp {
            from { top: -56vw;} 
            to {top: -62vw;}
          }
          .binaryvision-uiux-pic-box-pic22{
            position: relative;
            top: -56vw;
            left: 29vw;
            animation-name: uipic2FadeDown;
            animation-duration: 1s;
        }
        @keyframes uipic2FadeDown {
          from { top: -62vw;} 
          to {top: -56vw;}
        }
          .binaryvision-uiux-pic-box-pic3{
              position: relative;
              top: -177vw;
              left: -6vw;
              animation-name: uipic3FadeUp;
              animation-duration: 1s;
          }
          @keyframes uipic3FadeUp {
            from { top: -170vw;} 
            to {top: -177vw;}
          }
          .binaryvision-uiux-pic-box-pic33{
            position: relative;
            top: -170vw;
            left: -6vw;
            animation-name: uipic3FadeDown;
            animation-duration: 1s;
        }
        @keyframes uipic3FadeDown {
          from { top: -177vw;} 
          to {top: -170vw;}
        }
      }
      .backgroud3 {
          background: #FF4B63;
          height: 199vw;
          width: 100vw;
          margin-top: 108vw;
          margin-left: 0vw;
          opacity: 0;
          .digital-brand-content {
              display: none;
              font-size: 4.2vw;
              line-height: 5.2vw;
              margin-left: 12vw;
              padding-top: 88vw;
              margin-right: 13vw;
              color: #0E1529;
              text-align: justify;
              animation-delay: 1.5s;
              animation-duration: 1s;
              font-family: 'Poppins', sans-serif;
          }
      }
      
      .digital-brand {
          font-size: 8.2vw;
          left: -42vw;
          top: 151vw;
          color: #0E1529;
          position: absolute;
          transform: rotate(-90deg);
          font-family: sans-serif; 
          z-index: 1;
          animation-name: digitalBrand;
          display: none;
          animation-duration: 1s;
      }
      @keyframes digitalBrand {
        from { top: 611vw;opacity: 0;} 
        to {top: 604vw;opacity: 1;}
      }
      .digital-brand-span{
          font-size: 5.5vw;
          left: 1vw;
          top: 159vw;
          color: #0E1529;
          position: absolute;
          transform: rotate(-90deg);
          font-family: 'Poppins', sans-serif;
          z-index: 1;
          animation-name: digitalBrandSpan;
          display: none;
          animation-duration: 1s;
      }
      @keyframes digitalBrandSpan {
        from { top: 641vw;opacity: 0;} 
        to {top: 634vw;opacity: 1;}
      }
      .digital-services {
          font-size: 4vw;
          line-height: 6vw;
          position: absolute;
          top: 774vw;
          color: #0E1529;
          left: 11vw;
          display: none;
          animation-delay: 1.5s;
          animation-duration: 1s;
          h4{
              margin-bottom: 0;
              font-family: 'Monteserrat', sans-serif;
          }
          ul{
              padding-left: 0;
              margin-top: 0;
              font-family: 'Poppins', sans-serif;
          }            
      }

      .binaryvision-digital-pic-box {
        // opacity: 0;
        display: none;
        z-index: 2;
        position: absolute;
        left: 98vw;
        top: 0vw;
        animation-name: fadeFromRight;
        @keyframes fadeFromRight {
          from { left: 136vw;opacity: 0;} 
          to {left: 98vw;opacity: 1;}
        }
          .pic1 {
              position: absolute;
              top: 542vw;
              right: 0vw;
              // display: none;
              // transition: 2s;
              // transform: translateY(300px);
              img {
                  width: 100vw;
              }
          }
          .pic1C{
            position: absolute;
            animation-name: fadeDown1;
            top: 542vw;
            right: 0vw;
            img {
              width: 100vw;
          }
            @keyframes fadeDown1 {
              from { top: 542vw;animation-duration: 1s} 
              to {top: 580vw;}
            }
          }
          .pic1CC{
            position: absolute;
            animation-name: fadeDown11;
            top: 580vw;
            right: 0vw;
            img {
              width: 100vw;
          }
            @keyframes fadeDown11 {
              from { top: 580vw;animation-duration: 1s} 
              to {top: 542vw;}
            }
          }
          .pic2 {
              // display: none;
              position: absolute;
              top: 580vw;
              right: 0vw;
              img {
                  width: 40vw;
              }
          }
          .pic2C{
            position: absolute;
              top: 580vw;
              right: 0vw;
              animation-name: fadeDown2;
              img {
                width: 40vw;
            }
            @keyframes fadeDown2 {
              from { top: 580vw;animation-duration: 1s} 
              to {top: 542vw;}
            }
          }
          .pic2CC{
            position: absolute;
              top: 542vw;
              right: 0vw;
              animation-name: fadeDown22;
              img {
                width: 40vw;
            }
            @keyframes fadeDown22 {
              from { top: 542vw;animation-duration: 1s} 
              to {top: 580vw;}
            }
          }
      }

      .backgroud4 {
          opacity: 0;
          background: #535FFF;
          height: 189vw;
          width: 100vw;
          margin-top: 100vw;
          margin-left: auto;
          .brand-brand-content {
              display: none;
              font-size: 4.2vw;
              line-height: 5.2vw;
              margin-left: 12vw;
              padding-top: 73vw;
              margin-right: 13vw;
              color: #0E1529;
              text-align: justify;
              font-family: 'Poppins', sans-serif;
              animation-delay: 1.5s;
              animation-duration: 1s;
          }
      }

      .brand-brand {
          z-index: 1;
          font-size: 8.2vw;
          right: -36vw;
          top: 908vw;
          color: #0E1529;
          position: absolute;
          transform: rotate(90deg);
          font-family: sans-serif;
          animation-name: brandBrand;
          display: none;
          animation-duration: 1s;
      }
      @keyframes brandBrand {
        from { top: 908vw;opacity: 0;} 
        to {top: 898vw;opacity: 1;}
      }
      .brand-brand-span {
          font-size: 5.5vw;
          right: -3.5vw;
          top: 925vw;
          color: #0E1529;
          position: absolute;
          transform: rotate(90deg);
          font-family: 'Poppins', sans-serif;
          z-index: 1;
          animation-name: brandBrandSpan;
          display: none;
          animation-duration: 1s;
      }
        @keyframes brandBrandSpan {
        from { top: 935vw;opacity: 0;} 
        to {top: 925vw;opacity: 1;}
      }
      .brand-services {
          font-size: 4vw;
          line-height: 6vw;
          position: absolute;
          top: 1057vw;
          left: 39vw;
          color: #0E1529;
          display: none;
          animation-delay: 1.5s;
          animation-duration: 1s;
          h4{
              margin-bottom: 0;
              font-family: 'Monteserrat', sans-serif;
              text-align: end;
          }
          ul{
              padding-left: 0;
              margin-top: 0;
              font-family: 'Poppins', sans-serif;
              text-align: end;
          }
      }

      .binaryvision-brand-pic-box {
          .box1 {
              width: 36vw;
              left: -6vw;
              position: absolute;
              top: 840vw;
              display: none;
              .p2{
                  width: 33vw;
                  margin-bottom: 5vw;
              }
              .p3{
                  width: 35vw;
              }
              .p1{
                  width: 38vw; 
                  margin-top: 8vw;
              }
          }
          .box2 {
              display: none;
              width: 20vw;
              position: absolute;
              top: 866vw;
              left: 15.5vw;
              img {
                  width: 53vw;
              }
              .p1{
                  height: 54vw;
              }
              .p2{
                  height: 42vw;
                  margin-top: -3vw;
              }
          }
      }
}

